<h2 class="page-header"> new book</h2>

<!-- this form, when submitted, sends data to the routes/authors.js post method -->
<!-- this form used to include "enctype="multipart/form-data"" when it uploaded an image 
this was apart of multer I believe-->
<form action="/books" method="POST" >
<%-include('_form_fields')%>


<div class=" form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books"> Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</div>
</form>