<h2>new book</h2>

<!-- this form, when submitted, sends data to the routes/authors.js post method -->
<!-- this form used to include "enctype="multipart/form-data"" when it uploaded an image 
this was apart of multer I believe-->
<form action="/books" method="POST" >
<%-include('_form_fields')%>



<a href="/books"> Cancel</a>
<button type="submit">Create</button>
</form>