
<!-- "?"" means its a query; "_method" is defined in server js, this calls our router.delete() function in authors.js "-->

<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>