<label>Name</label>

<!-- the "name" below is what is sent with the form object that can be called in body.name
the .ejs variable outputs the authors name from the varibale

-->
<input type="text" name="name22" value="<%= author.name %>">